* {
  box-sizing: border-box;
}


main {
  height: 60%;
  width: 100vw;

}
header {
  height: 200px;
  width: 100%;
  background-image: url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: green;
  background-position: center;
}

body {
  /* background-color: lightgreen; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.flex-container{
    background-image: url('../images/background-space.jpeg');
}

/* left hand side of screen */

div.other-screen {
  color: white;
  flex: 40%;
  background: linear-gradient(to top, rgba(0, 0, 255, 0.4), rgba(0,0,0,.5));
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
}
p {
  color: #8800cc;
}

#player-lives {
  color: green;
}



div.scoreboard {
  justify-content: center;
}

div.lives {
  align-self: center;
}

/* Play screen CSS */

div.play-screen {
  /* background-color: grey; */
  background: linear-gradient(to top, rgba(0, 0, 255, 0.4), rgba(0,0,0,.5));
  flex: 60%;
}

div.grid {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div.grid-item {
  width: 25px;
  height: 25px;
  /* border: 1px dashed black; */
}
div.grid-item.player {
  background-image: url('../images/baseshipa.ico');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: green;
}

div.grid-item.alien {
  background-color: purple;
  background-image: url('../images/saucer1a.ico');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.missile {
  background-image: url('../images/missile.png');
  background-color: red;
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.bomb {
  background-image: url('../images/bomb.png');
  background-color: yellow;
  background-repeat: no-repeat;
  background-size: contain;
}


div.flex-container {
  display: flex;
}

footer {
  height: 20%;
  width: 100%;
  background-color: pink;
}
