* {
  box-sizing: border-box;
  background-color: lightblue;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
div.play-screen {
  display: flex;
  flex-direction: column;
}
div.grid {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div.grid-row:nth-child(even) {
  flex-direction: row-reverse;
}
div.grid-row {
  display: flex;
  flex-direction: row;
}

div.grid-item {
  width: 50px;
  height: 50px;
  border: 1px dashed black;
}
div.grid-item.player {
  background-image: url('../images/baseshipa.ico');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: green;
}

div.grid-item.alien {
  background-color: purple;
  background-image: url('../images/saucer1a.ico');
  background-repeat: no-repeat;
  background-size: contain;
}
/* div.grid-item.alienTwo {
  background-color: blue;
  background-image: url('../images/saucer1a.ico');
  background-repeat: no-repeat;
  background-size: contain;
}
div.grid-item.alienThree {
  background-color: pink;
  background-image: url('../images/saucer1a.ico');
  background-repeat: no-repeat;
  background-size: contain;
} */

div.grid-item.missile {
  background-image: url('../images/missile.png');
  background-color: red;
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.bomb {
  background-image: url('../images/bomb.png');
  background-color: yellow;
  background-repeat: no-repeat;
  background-size: contain;
}
