* {
  box-sizing: border-box;
}


main {
  height: 60%;
  width: 100vw;
}
header {
  height: 200px;
  width: 100%;
  background-image: url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: green;
  background-position: center;
}

body {
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.other-screen {
  width: 40%;
  height: 100%;
  background-color: blue;
}

div.play-screen {
  background-color: grey;
  width: 550px;
  align-self: right;
  justify-content: flex-end;
  flex-direction: column;
}

div.grid {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div.grid-item {
  width: 50px;
  height: 50px;
  border: 1px dashed black;
}
div.grid-item.player {
  background-image: url('../images/baseshipa.ico');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: green;
}

div.grid-item.alien {
  background-color: purple;
  background-image: url('../images/saucer1a.ico');
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.missile {
  background-image: url('../images/missile.png');
  background-color: red;
  background-repeat: no-repeat;
  background-size: contain;
}

div.grid-item.bomb {
  background-image: url('../images/bomb.png');
  background-color: yellow;
  background-repeat: no-repeat;
  background-size: contain;
}

footer {
  height: 20%;
  width: 100%;
  background-color: pink;
}
